<section class="thirteen columns">
    <h1>About Me</h1>
    <p>JavaScript Enthusiast. I thrive on the landscape that is Full Stack Engineering. The data flow from client to server to database and everything in between fasinates me. The unforseen bugs that take me hours (or days...) to figure out, elegant modularization of code, and beautiful UI/UX are what drives me every day in the madness that is JavaScript development.</p>
    <br>
    <p>I build intuitive and performant applications with a variety of web tech stacks. React, React-Native, Angular, NodeJS, MySql, MongoDB. If it can build an app, I'll find a way to code it. I solve complex problems while maintaining readable code. Keeping things modular and especially testable are coding traits I pride myself on and strive to improve everyday.</p>
    <br>
    <p>I consistenly provide a detailed and diligent approach to resolving challenges. I am always pursuing new paths for growth and welcome the unanticipated tribulations my personal ambitions will bring me.</p>
</section>