<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Hack Reactor</h1>
            <span>Software Engineering Immersive Program</span>
        </header>
          <em>Los Angeles, CA &mdash; 2016 to 2017</em>
    </article>
    <article>
        <header>
            <h1>University of California in San Diego (UCSD)</h1>
            <span>B.S.: Probability & Statistics</span>
            <span class="minor-block">Minor: Computer Science</span>
        </header>
          <em>La Jolla, CA &mdash; 2011 to 2013</em>
    </article>
</section>
