<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1 class="project-title">Hacker in Residence (Software Engineering Mentor) | </h1><em>Hack Reactor</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2017 to Present</time></span>
            </div>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1 class="project-title">QA Engineer | </h1><em>Spinifex Group</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2016</time></span>
            </div>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1 class="project-title">QA Engineer / Junior Web Developer | </h1><em>Sizmek Inc.</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2014-2016</time></span>
            </div>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1 class="project-title">Manager | </h1><em>Laemmle Theatres</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2009-2011</time></span>
            </div>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1 class="project-title">Staff Member | </h1><em>Regency Theatres</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2006-2008</time></span>
            </div>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
