<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1 class="project-title">Software Engineering Mentor (HiR) | </h1><em>Hack Reactor</em>
            <div>
              <span><address>Los Angeles, CA</address><time>03/2017 to Present</time></span>
            </div>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">Delivered lectures to 40 students on algorithmic problems, programming paradigms, and CS topics</li>
          <li class="bullet-point">Mentored students in CS fundamentals, JS frameworks, debugging, application design choices, and TDD</li>
          <li class="bullet-point">Coordinated daily operations of students' workflow</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">QA Engineer | </h1><em>Spinifex Group</em>
            <div>
              <span><address>Los Angeles, CA</address><time>08/2016 to 11/2016 (Contract)</time></span>
            </div>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">Assured NodeJS/Angular desktop application met standards for worldwide auto shows</li>
          <li class="bullet-point">Determined solutions for critical bugs for mobile applications</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">QA Engineer / Junior Web Developer | </h1><em>Sizmek Inc.</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2014-2016</time></span>
            </div>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">Ensured app robustness by developing automated/manual tests for CMS web applications</li>
          <li class="bullet-point">Identified and fixed bugs found lurking from development</li>
          <li class="bullet-point">Collaborated and communicated with on-site & remote developers on application's SDLC</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">Manager | </h1><em>Laemmle Theatres</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2009-2011</time></span>
            </div>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">Managed staff members to run daily workflow and reported daily earnings</li>
          <li class="bullet-point">Opened/closed theater while maintaining inventory and profits</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">Staff Member | </h1><em>Regency Theatres</em>
            <div>
              <span><address>Los Angeles, CA</address><time>2006-2008</time></span>
            </div>
        </header>
    </article>
</section>
