<section class="thirteen columns">
    <h1>Reading List (2016-2017)</h1>
    <article>
        <header>
            <h1 class="project-title">Currently Reading</h1>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/Cracking-Coding-Interview-Programming-Questions/dp/098478280X" target="_blank">Cracking the Coding Interview &mdash; Gayle Laakmann McDowell</a>
          </li>
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/Algorithms-Sanjoy-Dasgupta-ebook/dp/B006Z0QR3I" target="_blank">Algorithms &mdash; S. Dasgupta, C. H. Papadimitriou,  &amp; U. V. Vazirani</a>
          </li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">Completed</h1>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/Eloquent-JavaScript-Modern-Introduction-Programming/dp/1593275846/ref=sr_1_1?s=books&ie=UTF8&qid=1493763062&sr=1-1&keywords=eloquent+javascript" target="_blank">Eloquent JavaScript (2nd Edition) &mdash; Marijn Haverbeke</a>
          </li>
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/You-Dont-Know-JS-Going/dp/1491924462/ref=sr_1_1?s=books&ie=UTF8&qid=1493763108&sr=1-1&keywords=you+don%27t+know+js" target="_blank">You Don't Know JS &mdash; Kyle Simpson</a>
          </li>
        </ul>
    </article>
    <article>
        <header>
            <h1 class="project-title">Queued</h1>
        </header>
        <ul class="bullet-points">
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?ie=UTF8&qid=1500167251&sr=8-1&keywords=clean+code" target="_blank">Clean Code &mdash; Robert C. Martin</a>
          </li>
          <li class="bullet-point">
            <a class="reading-link" href="https://www.amazon.com/Code-Complete-Practical-Handbook-Construction/dp/0735619670" target="_blank">Code Complete &mdash; Steve McConnell</a>
          </li>
        </ul>
    </article>
</section>
