<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>JavaScript</em>, <em>NodeJS</em>, <em>React</em>, <em>Express4</em> &amp; <em>REST API</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>React-Native</em>, <em>HTML5</em> <em>MySql</em>, <em>CSS3</em>, <em>Angular 1/2</em>, <em>MongoDB</em> &amp; <em>OOP</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>AWS</em>, <em>Ansible</em>, <em>Bootstrap3</em>, <em>Semantic-UI</em>, <em>MVC</em>, <em>C#/C++</em>, <em>R</em> &amp; <em>Java</em>
        </p>
    </article>
</section>